# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/workspace.xml
build/intermediates/
